.header
	background-color: #ffff
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		padding-top: 40px
		padding-bottom: 40px
	&-deals
		background-color: #19385c
		color: #fff
		list-style-type: none
		display: flex
		align-items: center
		justify-content: space-around
		height: 80px
	li
		a
			text-decoration: none
			color: white
.search
	display: flex
	position: relative
	&__input
		width: 350px
		height: 40px
	&__button
		position: absolute
		background: red

.profile
	width: 110px
	height: 40px
	img
		padding-right: 10px;
	a
		text-decoration: none
		border-bottom: none
		color: black