.header
	background-color: #ffff
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		padding-top: 40px
		padding-bottom: 40px
	&-deals
		background-size: 1440px 100%
		background-color: #19385c
		color: #fff
		list-style-type: none
		display: flex
		align-items: center
		justify-content: space-around
		height: 80px
	li
		a
			text-decoration: none
			color: white
.search
	position: relative
	overflow: hidden
	border-radius: 6px
	height: 40px
	&__input
		width: 350px
		height: 40px
		padding-left: 23px
		padding-right: 75px
		background-color:#f5fafea6
		size: 12px
		line-height: 15px
		color: #333333
		border: none
	&__button
		position: absolute
		top: 0
		right: 0
		width: 65px
		height: 100%
		background: $primary-color
		border:none



.profile
	display: flex
	align-items: center
	width: 110px
	height: 40px
	text-decoration: none
	img
		padding-right: 18px;
	a
		border-bottom: none
		color: $text-color
		font-size: 14px
		line-height: 18px
